
/* Space out content a bit */
body {
    padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
	background: #444;
	min-height: 50px;
	padding: 10px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
}

/* Logo */
.logo {
	width: 50px;
	height: 50px;
	}

/* Field
-------------------------------------------------- */

.field {
	width: 300px;
	height: 300px;
	margin: 0 auto;

	background: #eee;
	border: 2px solid #666;
	border-radius: 4px;
	}

/* /Field */
